BeanSpitter.Tests/Files/Xsd/DRAFT3auth.046.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFT Editor (build:R1.6.5.7) on 2016 Sep 30 17:42:56
Disclaimer :
This is the draft XML schema of a Message Definition developed in compliance with the ISO 20022 methodology.
Official ISO 20022 XML schemas are generated by the ISO 20022 Registration Authority and published on the ISO 20022 web site.
SWIFT shall not be liable for any direct, indirect, special or consequential damages arising out of the use of this draft XML schema.
-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT3auth.046.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT3auth.046.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AuthorityExchangeReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAFI"/>
            <xs:enumeration value="ADHR"/>
            <xs:enumeration value="CABC"/>
            <xs:enumeration value="CABB"/>
            <xs:enumeration value="CADB"/>
            <xs:enumeration value="CADU"/>
            <xs:enumeration value="CAEB"/>
            <xs:enumeration value="CAIX"/>
            <xs:enumeration value="CAMB"/>
            <xs:enumeration value="CASB"/>
            <xs:enumeration value="CATV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CancelledStatusReason15Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CANI"/>
            <xs:enumeration value="CSUB"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DetailedReportStatistics1">
        <xs:sequence>
            <xs:element name="TtlNbOfRpts" type="Max15NumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NbOfRptsPerSts" type="NumberOfReportsPerStatus1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NbOfRptsPerErr" type="NumberOfTransactionsPerValidationRule1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetailedTransactionStatistics1">
        <xs:sequence>
            <xs:element name="TtlNbOfTxs" type="Max15NumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NbOfTxsPerSts" type="NumberOfTransactionsPerStatus4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NbOfTxsPerErr" type="NumberOfTransactionsPerValidationRule1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetailedTransactionStatistics2">
        <xs:sequence>
            <xs:element name="TtlNbOfTxs" type="Max15NumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NbOfTxsPerRsn" type="NumberOfTransactionsPerReason1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NbOfTxsPerSts" type="NumberOfTransactionsPerStatus4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NbOfTxsPerErr" type="NumberOfTransactionsPerValidationRule1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetailedTransactionStatistics3">
        <xs:sequence>
            <xs:element name="TtlNbOfTxs" type="Max15NumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NbOfTxsPerRsn" type="NumberOfTransactionsPerReason2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NbOfTxsPerSts" type="NumberOfTransactionsPerStatus4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NbOfTxsPerErr" type="NumberOfTransactionsPerValidationRule1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FinInstrmRptgTxRptgSttstcs" type="FinancialInstrumentReportingTransactionReportingStatisticsV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalValidationRuleIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FinancialInstrumentReportingStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRPT"/>
            <xs:enumeration value="INCF"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="RCVD"/>
            <xs:enumeration value="RMDR"/>
            <xs:enumeration value="ACPT"/>
            <xs:enumeration value="RJCT"/>
            <xs:enumeration value="WARN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FinancialInstrumentReportingStatus3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WARN"/>
            <xs:enumeration value="RJPD"/>
            <xs:enumeration value="ACPD"/>
            <xs:enumeration value="PDNG"/>
            <xs:enumeration value="ACPT"/>
            <xs:enumeration value="RJCT"/>
            <xs:enumeration value="RCVD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentReportingTransactionReportingStatisticsV01">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="TxRptgSttstcs" type="TransactionReportingStatistics1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericValidationRuleIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="ValidationRuleSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISOYearMonth">
        <xs:restriction base="xs:gYearMonth"/>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NumberOfReportsPerStatus1">
        <xs:sequence>
            <xs:element name="DtldNbOfRpts" type="Max15NumericText"/>
            <xs:element name="DtldSts" type="FinancialInstrumentReportingStatus1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NumberOfTransactionsPerReason1">
        <xs:sequence>
            <xs:element name="DtldNbOfTxs" type="Max15NumericText"/>
            <xs:element name="DtldRsn" type="AuthorityExchangeReason1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NumberOfTransactionsPerReason2">
        <xs:sequence>
            <xs:element name="DtldNbOfTxs" type="Max15NumericText"/>
            <xs:element name="DtldRsn" type="CancelledStatusReason15Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NumberOfTransactionsPerStatus4">
        <xs:sequence>
            <xs:element name="DtldNbOfTxs" type="Max15NumericText"/>
            <xs:element name="DtldSts" type="FinancialInstrumentReportingStatus3Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NumberOfTransactionsPerValidationRule1">
        <xs:sequence>
            <xs:element name="DtldNb" type="Max15NumericText"/>
            <xs:element name="DtldVldtnRule" type="GenericValidationRuleIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatisticsTransactionsExchanged1">
        <xs:sequence>
            <xs:element name="OthrAuthrty" type="CountryCode"/>
            <xs:element name="RptSttstcs" type="DetailedReportStatistics1"/>
            <xs:element name="NewTxSttstcs" type="DetailedTransactionStatistics2"/>
            <xs:element name="CxlSttstcs" type="DetailedTransactionStatistics3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatisticsTransactionsReceived1">
        <xs:sequence>
            <xs:element name="RptSttstcs" type="DetailedReportStatistics1"/>
            <xs:element name="NewTxSttstcs" type="DetailedTransactionStatistics1"/>
            <xs:element name="CxlSttstcs" type="DetailedTransactionStatistics1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionReportingStatistics1">
        <xs:sequence>
            <xs:element name="SndgAuthrty" type="CountryCode"/>
            <xs:element name="Mnth" type="ISOYearMonth"/>
            <xs:element name="RcvdFrAgt" type="StatisticsTransactionsReceived1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="SntToAuthrty" type="StatisticsTransactionsExchanged1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RcvdFrAuthrty" type="StatisticsTransactionsExchanged1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ValidationRuleSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalValidationRuleIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
