BeanSpitter.Tests/Files/Xsd/DRAFT5auth.031.001.01_ESMAUG_Reporting_1.0.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: ESMA
Collection: MiFIR - Transaction Data - Reporting
Usage Guideline: DRAFT5auth.031.001.01_ESMAUG_NationalReporting_1.0.0
Base Message: DRAFT5auth.031.001.01
Date of publication: 21 March 2017
URL: https://www2.swift.com/mystandards/#/mp/mx/_FVQhsIVNEeaQYvi6hIW_CQ/_lX1mUd5CEeaRcsuTYc5xnw
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2017-04-28T17:19:31+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT5auth.031.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT5auth.031.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FinInstrmRptgStsAdvc" type="FinancialInstrumentReportingStatusAdviceV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalValidationRuleIdentification1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalValidationRuleIdentification1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the external validation rule identification scheme name code in the format of character string with a maximum length of 4 characters.&#13;
The list of valid codes is an external code list published separately.&#13;
External code sets can be downloaded from www.iso20022.org.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FinancialInstrumentReportingStatus1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentReportingStatus1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the financial instrument reporting status per message.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRPT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorruptedFile</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">File containing the report is corrupted.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INCF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectFilename</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">File containing the report has an incorrect filename.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PART">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartiallyAccepted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Report has been partially accepted. A number of transactions have been accepted, whereas another number of transactions have not yet been accepted.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RCVD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Received</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Report has been received.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RMDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reminder</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reminder of a non received report.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACPT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Accepted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction or report has been accepted.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RJCT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Rejected</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction or report has been rejected.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WARN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Warning</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction has been accepted with warnings.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FinancialInstrumentReportingStatus3Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentReportingStatus3Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the financial instrument reporting status per submitted item where an issue has been identified.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="PDNG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Pending</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Processing of transaction or report is pending.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACPT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Accepted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction or report has been accepted.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RJCT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Rejected</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction or report has been rejected.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RCVD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Received</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Report has been received.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentReportingStatusAdviceV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentReportingStatusAdviceV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The FinancialInstrumentReportingStatusAdvice message is sent by the national competent authority to the reporting agent to provide a status advice for the correctness, issues or errors that arise from the submitted report.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="StsAdvc" type="MessageReportHeader3__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusAdvice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status advice report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericValidationRuleIdentification1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericValidationRuleIdentification1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information for the identification of a validation rule.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a validation rule.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Desc" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Further information on the validation rule as identified in the Identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="ValidationRuleSchemeName1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max15NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 15 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageReportHeader3__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageReportHeader3__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides details of many status advice reports where many received reports are reported at once.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgRptIdr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageReportIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provide detail on previously received message reports that are being reported as part of this status advice.&#13;
&#13;
Usage:&#13;
Within MiFIR, when required, this field will be populated with the BAH Business Message Identifier field.  Where only a single message report header is used, this field is not used and relies solely on the BAH Business Message Identifier field.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MsgSts" type="StatusAdviceReport2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Details the submitting message status of the whole report that has been received.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RcrdSts" type="StatusReportRecord2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RecordStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides per record status on the report that has been submitted.&#13;
&#13;
Usage:&#13;
Within MiFIR, the same record can be reported multiple times where different elements of the record have an issue.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NumberOfTransactionsPerStatus6__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NumberOfTransactionsPerStatus6__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides detailed information on the number of transactions that are reported with a specific transaction status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DtldNbOfTxs" type="Max15NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DetailedNumberOfTransactions</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of individual transactions contained in the message, detailed per status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtldSts" type="FinancialInstrumentReportingStatus3Code__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DetailedStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Common transaction status for all individual transactions reported.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalReportStatistics2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OriginalReportStatistics2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Statistical information on the processing of records included in the original report.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TtlNbOfRcrds" type="Max15NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalNumberOfRecords</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total numbers of records included in the original file.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="NbOfRcrdsPerSts" type="NumberOfTransactionsPerStatus6__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NumberOfRecordsPerStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Detailed information on the number of records for each records status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatusAdviceReport2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StatusAdviceReport2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the report level status advice.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RptSts" type="FinancialInstrumentReportingStatus1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the status for the full report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="VldtnRule" type="GenericValidationRuleIdentification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValidationRule</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the details of the rule which could not be validated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Sttstcs" type="OriginalReportStatistics2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Statistics</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Statistical information on the results of the records processing.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatusReportRecord2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StatusReportRecord2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the per record status details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="OrgnlRcrdId" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalRecordIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous technical identification of the original data for which the status is provided.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Sts" type="FinancialInstrumentReportingStatus3Code__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines status of the reported transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="VldtnRule" type="GenericValidationRuleIdentification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValidationRule</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the details of the rule which could not be validated.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ValidationRuleSchemeName1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ValidationRuleSchemeName1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a name of the identification scheme.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ExternalValidationRuleIdentification1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme, in a coded form as published in an external list.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme, in a free text form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
</xs:schema>
