BeanSpitter.Tests/Files/Xsd/head.003.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFT Editor (build:R1.6.5.8) on 2016 Mar 29 22:24:37
Disclaimer :
This is the draft XML schema of a Message Definition developed in compliance with the ISO 20022 methodology.
Official ISO 20022 XML schemas are generated by the ISO 20022 Registration Authority and published on the ISO 20022 web site.
SWIFT shall not be liable for any direct, indirect, special or consequential damages arising out of the use of this draft XML schema.
-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:head.003.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:head.003.001.01">
    <xs:element name="BizData" type="BusinessDataHeaderV01"/>
    <xs:complexType name="BusinessApplicationHeaderEnvelope">
        <xs:sequence>
            <xs:any namespace="urn:iso:std:iso:20022:tech:xsd:head.001.001.01" processContents="strict"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessDataHeaderV01">
        <xs:sequence>
            <xs:element name="Hdr" type="BusinessApplicationHeaderEnvelope"/>
            <xs:element name="Pyld" type="StrictPayload"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StrictPayload">
        <xs:sequence>
            <xs:any namespace="##any" processContents="strict"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
